<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="fragments/header :: fragment-header" >

	<title>Employees</title>
</head>
<body>
	<div th:replace="fragments/header :: navbar" ></div>
	
	<div class="container">
	
		<div class="row">
		<h2>List employees</h2>
		
		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">Success</p>
		</div>
		
		<p th:if="${users.size() == 0}">
			<div class="alert alert-warning" role="alert">Not found any employees.</div>
		</p>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Last Name</th>
					<th>First name</th>
					<th>Email</th>
					<th>Phone number</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${users}">
					<td th:text="${employee.lastName}">Last name</td>
					<td th:text="${employee.firstName}">First name</td>
					<td th:text="${employee.email}">Email name</td>
					<td th:text="${employee.phoneNo}">Phone number name</td>
					<td><a href="#" th:href="@{/admin/employee/delete/} + ${employee.id}">Delete</a></td>
					
				</tr>
			</tbody>
		</table>

		</div>
	</div>
</body>
</html>